@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .outRound {
    position: relative;
  }
  /*  box-shadow:阴影类型 X轴位移 Y轴位移 阴影大小 阴影扩展 阴影颜色
 
     阴影扩展 :扩大现有的阴影宽度。
     
     当不设阴影类型时，默认为投影效果。当设为inset时，为内阴影效果。
``` */
  .outRound:hover::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: red;
    top: -50px;
    right: 0;
    background-color: transparent;
    box-shadow: 25px 25px 0 0 #fff;
    border-radius: 50%;
  }
  .outRound:hover::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: red;
    top: 40px;
    right: 0;
    background-color: transparent;
    box-shadow: 25px -25px 0 0 #fff;
    border-radius: 50%;
  }
}

/* icon font  */
@font-face {
  font-family: 'iconfont'; /* Project id 4163371 */
  src: url('./assets/iconfont/iconfont.woff2?t=1689142036198') format('woff2'),
    url('./assets/iconfonticonfont.woff?t=1689142036198') format('woff'),
    url('./assets/iconfonticonfont.ttf?t=1689142036198') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.icon-xiaoxi:before {
  content: '\e600';
}

.icon-setting:before {
  content: '\e78e';
}

.icon-person:before {
  content: '\e656';
}

.icon-password:before {
  content: '\e66c';
}

.icon-Home:before {
  content: '\e653';
}

.icon-sign-out:before {
  content: '\e67d';
}

.icon-help:before {
  content: '\e645';
}
