* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #000;
  /* background: linear-gradient(45deg, #2196f3, #ff4685); */
  /* filter: grayscale(1); */

  /* filter: grayscale(100%); */
  /* filter: alpha(opacity=70); */
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
  }

  100% {
    transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);
  overflow: hidden;

}

.box span image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}