* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;


  /* background: linear-gradient(45deg, #ff0000, #0000ff); */
  background: #eff0f4;
}

.navigation {
  position: fixed;
  background: #fff;
  width: 100px;
  height: 100%;
}

.navigation .toggleMenu {
  height: 80px;
  border-bottom: #eff0f4 solid 1px;
}