* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: linear-gradient(45deg, #ff0000, #0000ff); */
  background: #ddd6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <div class="listItem">
        <div class="item">
          <p>
            <span class="item_number">111</span>
            <span class="item_number_unit">例</span>
          </p>
          <p class="item_name">高空摄像头</p>
        </div> */

.listItem {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.listItem .item {
  /* flex: 1; */
  width: 120px;
  overflow: hidden;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffff;
}
.listItem .item p {
  display: flex;
  /* overflow: hidden; */
  /* justify-content: space-between; */
}
.listItem .item .item_number .item_number {
  flex: 1;
}

.ellipsis {
  overflow: hidden; /* 确保超出的文本被裁剪 */
  white-space: nowrap; /* 确保文本在一行内显示 */
  text-overflow: ellipsis; /* 使用省略符号表示文本超出 */
}
.listItem .item .item_number .item_number_unit {
  /* flex: 1; */
  flex-shrink: 0;
  flex-grow: 0;
  text-align: right;
}
.listItem .item .item_name {
  margin-top: 10px;
}
