* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  /* background: linear-gradient(45deg, #2196f3, #ff4685); */
  /* filter: grayscale(1); */

  /* filter: grayscale(100%); */
  /* filter: alpha(opacity=70); */
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
  overflow: hidden;
}

.card .imgBox {
  position: relative;
  background-color: white;
  overflow: hidden;
  height: 220px;
  background: url(./img3.jpg);
  object-fit: contain;
  border-radius: 10px;
}

.card .imgBox::before {
  content: '';
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  left: calc(50% + 10px);
  bottom: 0;
  box-shadow: -10px 10px 0 white;
  border-radius: 50%;
  z-index: 10;
}

.card .imgBox::after {
  content: '';
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  left: 0;
  bottom: 70px;
  box-shadow: -10px 10px 0 white;
  border-radius: 50%;
  z-index: 10;
}
.card .content {
  position: relative;
  background-color: #234568;
  flex: 1;
  border-radius: 10px;
  border-top-left-radius: 0;

  color: white;
  font-size: 14px;
  padding: 20px;
  line-height: 25px;
}
.price {
  display: block;
  content: '';
  position: absolute;
  background-color: #234568;
  top: -80px;
  left: 0;
  width: calc(50% + 10px);
  height: 80px;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 25px;
  border-bottom: none;
  border-left: none;

  color: white;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}
.price::before {
  content: '';
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  box-shadow: -10px -10px 0 white;
  border-radius: 50%;
  z-index: 10;
}

.price::after {
  content: '';
  position: absolute;
  background: transparent;
  width: 20px;
  height: 20px;
  right: -20px;
  bottom: 0px;
  box-shadow: -10px 10px 0 #234568;
  border-radius: 50%;
  z-index: 10;
}
